<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>

<!-- Bootstrap requires the following three meta tags to appear first -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>Vocabulary Anagram</title>

<!-- Javascript and Cascading Style Sheets (css) libraries -->
<!-- mostly from content delivery networks                 -->

<!-- jquery; CDN load is usually quick because it's likely cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Bootstrap stylesheet let's us have a 'responsive' layout; -->
<!-- 12 column grid rearranges itself for smaller screens or windows. -->

<!-- per http://getbootstrap.com/getting-started/  -->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
 integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
  crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
 src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
 integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
 crossorigin="anonymous">
</script>

<!-- Our own css file.  Note how we can link directly here and not -->
<!-- write any routing code in the Flask application. -->
<link rel="stylesheet" href="/static/jumble.css" />

</head>

<body>
<div class="container">

  <div class="row">
    <div class="col-xs-6 text-center">
      <h1>Words</h1>
    </div>
  </div>
<!-- Vocabularly words layed out in 6 columns;
  -- bootstrap may collapse to fewer columns and
  -- more rows if the window is narrow.
  -->
<div class="row">
  {% for word in g.vocab %}
    <div class="col-xs-2 text-center word"> {{ word }} </div>
    {% if loop.index is divisibleby 3 %}
    </div> <!-- row -->
    <div class="row">
    {% endif %}
  {% endfor %}
</div> <!-- row -->

<br />

<div class="row">
  <div class="col-xs-6 text-center">
   Use letters from
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center lead">
    <strong id="jumble">{{ session.jumble }}</strong>
  </div>
  </div><div class="row">
  <div class="col-xs-6 text-center">
    to spell {{session.target_count}} words from the list.
  </div> <!-- col -->
</div> <!-- row -->
<br />
<div class="row">
  <div class="col-xs-6 text-center">
  <form id="entry" method="POST" action="/_check">
    <label for="attempt">Word:</label>
    <input id="attempt" name="attempt" type="text" width="15"
      autocomplete="off"  autofocus />
    <input id="submit-attempt" type="submit" name="try" />
  </form>
</div></div>

<br />
<div id="you-found-result"></div>
<div id="messages" class="message"></div>

<script>

  // Suppress normal form submission
  $("#entry").submit( function(event) {
     event.preventDefault();
    });
  
  $("#submit-attempt").click(function(event) {
    var txt = $("#attempt").val();
    console.log("Type ", txt);
    $.post("/_check", {attempt: txt}, 
      function(data) {
        // console.log('Result is ', data);
        var matches = data.result.matches;
        var messages = data.result.messages;

        // if matches over 3, jump to success page
        if (matches != undefined && matches.length >= 3) {
          // console.log("Matched 3, just go to success page.");
          window.location.href="/success";
        }

        // display the result
        var you_found_result_div = $("#you-found-result");
        if (matches != undefined && matches.length > 0) {
          // display result
          you_found_result_div.empty();
          you_found_result_div.append($("<h2>You found </h2>"));
          you_found_result_div.append($("<p>" + matches.join(" ") + "</p>"));

          // grey-out used letters
          $(".word").each(function() {
            var word = $(this);
            var word_text = word.text().trim();
            // console.log("Checking word ", word_text);

            if (word.is(".grey-out")) {
              // console.log("Word " + word_text + " is grey out.")
              return true;
            }
            
            if (matches.indexOf(word_text) != -1) {
              // console.log("Let word " + word_text + " grey out.")
              word.empty();
              word.html(word_text);
              word.addClass("grey-out");
            }
          });

          // remove letters not in anagram
          var anagram_text = "";
          $(".word").each(function() {
            var word = $(this);
            var word_text = word.text().trim();

            if (word.is(".grey-out")) {
              // console.log("Word " + word_text + " is grey out.")
              return true;
            }

            anagram_text += word_text;
          });
          var jumble = $("#jumble");
          var jumble_chars = jumble.text().split("");
          var new_jumble_chars = "";
          jumble_chars.forEach(jumble_char => {
            if (anagram_text.indexOf(jumble_char) != -1) {
              new_jumble_chars += jumble_char;
            }
          });
          jumble.html(new_jumble_chars);

        } else {
          you_found_result_div.empty();
        }

        // display messages
        var messages_div = $("#messages");
        messages_div.empty();
        if (messages != undefined && messages.length > 0) {
          // display result
          messages.forEach(message => {
            messages_div.append($("<p>" + message + "</p>"));
          });
        }
      });
  });

  $("#attempt").bind('input propertychange',function() {
    var attempt = $("#attempt");
    var attempt_text = attempt.val();
    var highlight_span  = "<span class=\"highlight\">" + attempt_text + "</span>";
    // console.log("Input changed to ", attempt_text);

    // highlight the partially build word
    $(".word").each(function() {
      var word = $(this);
      var word_text = word.text().trim();
      // console.log("Checking word ", word_text);

      if (word.is(".grey-out")) {
        // console.log("Word " + word_text + " is grey out.")
        return true;
      }
      
      if (attempt_text != "") {
        word_text = word_text.replace(attempt_text, highlight_span);
      }
      word.html(word_text);
    });
  });

  </script>
 </div> <!-- container -->
</body> </html>
